<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySplav</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">МойСплав</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                    </ul>

                    <button type="button" class="d-flex btn btn-outline-light my-2 my-sm-0" data-bs-toggle="modal" data-bs-target="#login-modal">
                        Войти
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-content-custom">
                <div class="modal-header modal-header-custom">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-2">
                            <label for="login-email" class="form-label">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp">
                            <div class="invalid-feedback">
                                Адрес введен некорректно
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="login-password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="login-password">
                            <div class="invalid-feedback">
                                Пароль введен некоректно
                            </div>
                        </div>
                        <div class="invalid-feedback" id="general-login-error">
                            Логин или пароль введены некорректно
                        </div>
                        <div class="registration-buttons-container">
                            <span class="registration-buttons">
                                <a class="registration-link" data-bs-toggle="modal" data-bs-target="#registration-modal">Зарегистрироваться</a>
                                <button type="submit" class="btn btn-primary" id="login-button">Войти</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registration-modal" tabindex="-2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-content-custom">
                <div class="modal-header modal-header-custom">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-2">
                            <label for="registration-email" class="form-label">Адрес электронной почты</label>
                            <input type="email" class="form-control" id="registration-email" aria-describedby="emailHelp">
                            <div class="invalid-feedback">
                                Адрес введен некорректно
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="registration-password" class="form-label">Пароль</label>
                            <input type="password" class="form-control" id="registration-password">
                            <div class="invalid-feedback">
                                Пароль введен некоректно
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="registration-password-repeat" class="form-label">Повторите пароль</label>
                            <input type="password" class="form-control" id="registration-password-repeat">
                            <div class="invalid-feedback">
                                Пароль введен некоректно
                            </div>
                        </div>
                        <div class="invalid-feedback" id="registration-general-password-error">
                            Логин или пароль введены некорректно
                        </div>
                        <div class="registration-buttons-container">
                            <span class="registration-buttons">
                                <button type="submit" class="btn btn-primary" id="registration-button">Зарегистрироваться</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Мой сплав 
        </div>
    </footer>
    <script src="~/lib/jq/jq-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login/general.js"></script>
    <script src="~/js/login/login.js"></script>
    <script src="~/js/login/registration.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
